@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Henny+Penny&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    /* background-color: black; */
    color: white;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'EB Garamond', serif; */
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    /* background-image: url("https://www.transparenttextures.com/patterns/cubes.png"); */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.card-div { 
    /* background-color: #202020; */
    background-color: gray;
    color: #7CFC00;
    border: solid white 1px;
    height: 50%;

}

.card-div:hover { 
    background-color: #202020;
    color: white;
    border: solid #7CFC00 1px;
}

#ghostwriter { 
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 2px pink;
}

.card-div img { 
    border: solid #7CFC00 1px;
    width: 500px;
}

h1,
h3,
h4,
h5,
h6 {
    font-family: 'Henny Penny', cursive;
    text-shadow: 5px 5px 7px pink;
    margin: 10px;
    
    /* font-size:  */
}

audio {
    width: 100%;
    /* background-color: #202020; */
    /* background-color: white; */
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#nav { 
    /* background-color: grey; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'EB Garamond', serif;

}



.input {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 30px;
    border: solid white 1px;
    background-color: #202020;
    color: white;
    font-size: large;
    width: auto;
    text-align: center;
}

.chatForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

button {
    padding: 15px 20px;
    margin: 5px;
    border-radius: 30px;
    border: solid black 1px;
    background-color: #202020;
    color: white;
    font-size: medium;
}

button:hover {
    background-color: #7CFC00;
    color: black;
}

#homepage {
    background-color: #1E1E1E;
    width: 80%;
    margin: 10px;
    border-radius: 25px;
}

#sidebar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 20%;
    height: 80vh;
    background-color: #121212;
    margin: 10px;
    border-radius: 25px;
    overflow-y: auto;
}

#main {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
}

.artistButton {
    /* artistButton.style.borderRadius = "50%"
    artistButton.style.width = "100px"
    artistButton.style.height = "100px"
    artistButton.style.margin = "10px"
    artistButton.style.padding = "10px"
    artistButton.style.backgroundColor = "black" */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    background-color: black;

}

.artistButton:hover {
    background-color: #7CFC00;
    color: black;
    /* grey out the image */
    opacity: 0.3;
}

.songCard {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    /* background-color: #202020; */
    color: white;
    /* border: solid white 1px; */
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    width: 20%;
    text-align: center;

}

.songCard:hover {
    background-color: #202020;
    transition-duration: 50ms;
    /* color: #7CFC00; */
    /* border: solid #7CFC00 1px; */
}

#songs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.songImg {
    /* border: solid white 1px; */
    width: 95%;
    height: 95%;
    border-radius: 5%;
}

.generatedImg {
    /* border: solid white 1px; */
    width: 90%;
    /* height: 500px; */
    border-radius: 5%;
    text-align: center;
}

.generatedImg:hover {
    background-color: #7CFC00;
    transition-duration: 50ms;
    opacity: 0.5;
    /* color: #7CFC00; */
    /* border: solid #7CFC00 1px; */
}